body {
    margin: 0px;
    padding: 0px;
    font-family: "Amazon Ember", Arial, sans-serif;
    background-color: #f5f6f6;
}

#navbar {
    height: 60px;
    width: 100%;
    background-color: #131921;
    display: flex;
    justify-content: space-evenly;
}

#logo {
    margin: 16px;
    height: 30px;
    color: white;
}

#Deliver {
    text-decoration: none;
    color: #ccc;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 12px;
    height: 14px;
    margin: 10px;
}

#district {
    color: aliceblue;
    font-size: 14px;
}

.nav-search {
    display: flex;
    height: 40px;
    padding: 10px 4px 10px 3px;
    border-radius: 4px;
}

.search-bar {
    width: 400px;
    border: 0px solid black;
}

.search-select {
    width: 51px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 0px solid black;
    background-color: #e6e6e6;
    padding-left: 5px;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 14px;
}

.search-button {
    width: 45px;
    height: 40px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 0px solid black;
    background-color: #ffb700;
}









.sub-nav-bar {
    height: 39px;
    width: 100%;
    background-color: #232f3e;

}

#all {
    padding: 9px 9px 8px 29px;
    width: 58px;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 14px;
    display: inline-block;
}














.back-img {
    height: 600px;
    width: 100%;
    background-image: url("background.jpg");
    background-size: cover;
}

#info {
    height: 20px;
    width: 1460px;
    background-color: #f5f6f6;
    padding: 10px 14px 10px 14px;

}

.pc {
    width: 335px;
    height: 405px;
    background-color: #ffffff;
    padding-top: 20px;
    padding-left: 20px;
    display: inline-block;

}

#pc-img {
    width: 320px;
    height: 303px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.long-ad {
    height: 285px;
    width: 100%;
    background-color: #ffffff;
    
    padding: 20px 0px 20px 0px;
    
}



#but-again:hover {
    border: 2px solid white;
}

#recent {
    height: 245px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: row;
    align-items: center;
}

#History {
    font-family: "Amazon Ember", Arial, sans-serif;
}






.top {
    height: 49px;
    width: 100%;
    background-color: rgb(10, 52, 65);
    color: aliceblue;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}

.top:hover {
    background-color: rgb(25, 66, 79);
}

.up-foot {
    height: 250px;
    width: 100%;
    background-color: #232F3E;
    display: flex;
    justify-content: space-evenly;

}

.know {
    padding-top: 30px;
    display: inline-block;

}

#upper-footer {
    font-family: "Amazon Ember", Arial, sans-serif;
}

#music {
    color: aliceblue;
    font-size: 12px;
    text-decoration: none;
}
li:hover{
    text-decoration: underline solid #dddddd;
}
#define:hover{
    text-decoration: underline solid #999999;
}
#music:hover{
    text-decoration: underline solid white;
}

.foot{
    font-size: 12px;
    color: #dddddd;
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

#item{
    display: flex;
    justify-content: space-evenly;
}

#long{
    display: flex;
    justify-content: space-evenly;
}